<div class="card bg-white mt-5">
    <div class="card-header">Virtual Servers</div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-outline-success add">
                    <i class="fab fa-plus"></i>
                    Add new server
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <td>CurrentDateTime</td>
                            <td colspan="4" class="text-start currentTime"></td>
                        </tr>
                        <tr>
                            <td>TotalUsageTime</td>
                            <td colspan="4" class="text-start usageTime"></td>
                        </tr>

                        <tr>
                            <th>VirtualServerId</th>
                            <th class="text-center">Create DateTime</th>
                            <th class="text-center">Remove DateTime</th>
                            <th class="text-center">Selected For Remove</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody class="servers"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted text-center updated">Updated: ...</div>
</div>